﻿
@{
    ViewBag.Title = "Index";
}

<h2>Home Index : @CurrentUser.Name. How's the weather hi in @CurrentUser.Country ?  </h2>
<h3>
    <p>
        <a href="@Url.Action("logout", "auth")">Log Out</a>
    </p>
</h3>

